#map {
	width:400px;
	height:400px;
}

#res table {
	border:solid;
	border-spacing:0px;
	border-width:2px;
}

#res table tr {
	padding:5px 0px;
	background-color: #10EE10;
	margin:0px;
}

#res table tr td {
	border:solid;
	border-width:1px;
	margin:0px;
	padding:5px;
}

.highlight td {
	
	background-color: #E0EE00;
}

.mas {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.mas li {
	float:left;
	padding:5px;
}

#search {
	padding-right:18px;
	background-image:url(search_icon.png);
	background-repeat: no-repeat;
	background-position: 99% 50%;
}
	

#from {
	padding-right:18px;
	border-right:20px;
}

.valid {
	background-image:url(ok.gif);
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

.invalid {
	background-image:url(bad.gif);
	background-repeat: no-repeat;
	background-position: 99% 50%;
}