@charset "UTF-8";

html {
	line-height: 1;
}

body  {
	font: 100% Arial, Helvetica, Verdana, sans-serif;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	height:100%;
	background: #0087C3;
	text-decoration:none;
}

#container {
	height: auto;
	width: 1200px;  
	background: #0087C3;
	margin: 0 auto; 
	border: 5px #000;
	text-align: left; 
	font-size:18px;
	padding-top: 30px;
} 

#menuAndMap {
	height: 400px;
	width: 900px;  
	margin: 0 auto; 
	border: 0px solid #FFF;
	padding-bottom:25px;
}

#menu {
	float:left;
	height: 400px;
	width: 300px;  
	margin: 0 auto; 
	border: 0px;
	padding: 0px;
	background-image: url(images/logo.png);
	background-position:top;
	background-repeat:no-repeat;
	text-decoration:none;
}
#menu a: hover {
	text-decoration:none;
	color:#FFF;
}

#map {
	float:right;
	height: 400px;
	width: 600px;  
	margin: 0 auto; 
	border: 0px;
	padding: 0px;
}
 
#table {
	height: auto;
	width: 900px;  
	margin: 0 auto; 
	border: 0px;
}

#res table {
	width: 900px;
	border:solid;
	border-spacing:0px;
	border-width:2px;
}

#res table tr {
	padding:5px 0px;
	background-color: #FFF;
	margin:0px;
}

#res table tr td {
	border:solid;
	border-width:1px;
	margin:0px;
	padding:5px;
}

.highlight td {
	background-color: #E0E0E0;
}

.mas {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.mas li {
	float:left;
	padding:5px;
}

 #search {
	background-image:url(search_icon.png);
	background-repeat: no-repeat;
}
	

#from {
	padding-right:18px;
	border-right:20px;
}

.valid {
	background-image:url(ok.gif);
	background-repeat: no-repeat;
	background-position: 99% 50%;
}

.invalid {
	background-image:url(bad.gif);
	background-repeat: no-repeat;
	background-position: 99% 50%;
}